:root {
  --white-ff: #ffffff;
  --black-00: #000000;
  --black-00-t25: rgba(0, 0, 0, 0.25);
  --black-33: #333333;
  --black-33-t3: rgba(51, 51, 51, 0.3);
  --black-33-t5: rgba(51, 51, 51, 0.5);
  --black-33-t7: rgba(51, 51, 51, 0.7);
  --red-e6: #e63946;
  --red-f6: #f63e4c;
  --red-e4: #e43845;
  --red-e6-t28: rgba(230, 57, 70, 0.28);
  --green-06: #06d6a0;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100%;
  background-color: var(--white-ff);
  color: var(--black-00);
  font-size: 16px;
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  display: block;
  min-height: 100vh;
}

html.is-locked,
body.is-locked {
  overflow: hidden;
  touch-action: none;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.max-width {
  max-width: 92rem;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
}

.alt-font {
  font-family: "Jost", sans-serif;
}

.page-title {
  font-size: 3rem;
  font-weight: 500;
}

.btn {
  width: 100%;
  background: var(--red-e6);
  box-shadow: 0 0 0 0 var(--red-e6-t28);
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: 0.2s ease;
  transition-property: background, box-shadow;
}

.btn:hover {
  background: var(--red-f6);
  box-shadow: 0 0.3125rem 0.25rem 0 var(--red-e6-t28);
}

.btn:active {
  background: var(--red-e4);
}

.btn--text {
  width: 100%;
  padding: 1.125rem 2rem;
  text-transform: uppercase;
  border-radius: 0.75rem;
  color: var(--white-ff);
  font-size: 1.375rem;
}

.btn--icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

.btn--icon svg {
  display: block;
}

.checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.375rem;
  font-size: 1.25rem;
  color: var(--black-00);
  align-items: center;
  cursor: pointer;
}

.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox-mask {
  width: 1.875rem;
  height: 1.875rem;
  display: grid;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--black-33-t3);
  border-radius: 0.5rem;
  background: var(--white-ff);
  transition: background 0.2s ease;
}

.checkbox-mask svg {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.checkbox input[type="checkbox"]:checked + .checkbox-mask {
  background: var(--red-e6);
}

.checkbox input[type="checkbox"]:checked + .checkbox-mask svg {
  opacity: 1;
}

.option input[type="radio"] {
  display: none;
}

.option-mask {
  width: 1.875rem;
  height: 1.875rem;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--black-33-t3);
}

.option-mask svg {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.option input[type="radio"]:checked + .option-mask {
  background: var(--red-e6);
}

.option input[type="radio"]:checked + .option-mask svg {
  opacity: 1;
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.layout.hidden {
  opacity: 0;
}

.layout > main {
  flex-grow: 1;
}

.overlay {
  background: var(--black-00-t25);
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.overlay.overlay--active {
  opacity: 1;
  pointer-events: all;
}

.modal-menu__overlay {
  opacity: 0;
  pointer-events: none;
}

.modal-menu {
  background: var(--green-06);
  max-width: 26.25rem;
  height: 100vh;
  overflow-y: auto;
  padding: 4.375rem 3.375rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.modal-menu__close {
  position: absolute;
  top: 1.25rem;
  right: 1.375rem;
}

.modal-menu__logo-img {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0.625rem;
}

.modal-menu__title {
  font-size: 3rem;
  line-height: 1.25;
  color: var(--white-ff);
  margin: 0.625rem 0 0;
}

.modal-menu__list {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  padding: 0;
  margin: 2.25rem 0 0;
}

.modal-menu__list li {
  width: fit-content;
}

.modal-menu__list .link {
  color: var(--white-ff);
  text-decoration: none;
  font-size: 1.25rem;
  white-space: nowrap;
  line-height: 1.25;
}

.modal-menu__list .link::before {
  background: var(--white-ff);
}

.modal-menu__question-btn {
  margin-top: 3rem;
}

.support-form__overlay {
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  overflow-y: auto;
}

.support-form,
.support-form-auth {
  display: grid;
  width: 100%;
  max-width: 28.125rem;
  height: fit-content;
  min-height: 34.375rem;
  margin: auto;
  background: var(--white-ff);
  border-radius: 1rem;
  padding: 1.875rem 1.75rem;
  position: relative;
  box-shadow: 0 0.25rem 0.25rem var(--black-00-t25);
}

.support-form-auth {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 2;
  min-height: auto;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
}

.support-form-auth--active {
  opacity: 1;
  pointer-events: all;
}

.support-form-auth__body {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.2s ease-out;
}

.support-form-auth__body--hidden {
  opacity: 0;
  pointer-events: none;
}

.support-form-auth__code {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.support-form-auth__code--visible {
  opacity: 1;
  pointer-events: all;
}

.support-form-auth .support-form__title {
  margin: 0;
}

.auth-forms {
  position: relative;
}

.support-form__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.support-form__body {
  margin-top: 0.5rem;
  display: grid;
  gap: 1rem;
}

.support-form__title {
  margin: 2.5rem 0 0;
  font-size: 3rem;
  line-height: 1;
  font-weight: 500;
  color: var(--black-00);
  letter-spacing: 0.01em;
}

.support-form__label {
  display: grid;
  gap: 0.5rem;
  font-size: 1.25rem;
  color: var(--black);
}

.support-form__input,
.support-form__textarea {
  width: 100%;
  border: 1px solid var(--black-33-t3);
  border-radius: 0.75rem;
  padding: 0.75rem 1rem;
  font-size: 1.25rem;
  color: var(--black-00);
  background: var(--white-ff);
  transition: border-color 0.2s ease;
}

.support-form__input::placeholder,
.support-form__textarea::placeholder {
  color: var(--black-33-t5);
}

.support-form__input:focus,
.support-form__textarea:focus {
  outline: none;
  border-color: var(--black-33);
}

.support-form__textarea {
  min-height: 6.25rem;
  resize: none;
}

.support-form__submit {
  margin-top: 1.875rem;
}

.support-from__success {
  color: var(--green-06);
  font-size: 3rem;
  font-weight: 500;
  display: none;
  text-align: center;
  line-height: 1;
  letter-spacing: 0.01em;
  margin: auto;
  max-width: 8em;
}

.support-from__success--active {
  display: block;
}

.link {
  position: relative;
  width: fit-content;
}

.link::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  opacity: 0;
  background: var(--black-00);
  transition: 0.2s ease;
  transition-property: width, opacity;
}

.link:hover::before {
  width: 100%;
  opacity: 1;
}

.loader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  background: var(--green-06);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-out;
  transition-property: opacity, height;
}

.loader img {
  width: 27.5rem;
  height: auto;
  animation: loaderImg 1s linear 1;
}

.loader.slide-up {
  height: 4.8125rem;
}

.loader.slide-up img {
  display: none;
}

.loader.hidden {
  opacity: 0;
  pointer-events: none;
}

@keyframes loaderImg {
  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.72);
  }
}

header {
  background-color: var(--green-06);
}

header .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.header-left,
.header-actions {
  flex: 1 1 100%;
}

.header-logo {
  display: block;
  max-width: 11.9375rem;
}

.logo-img {
  width: 100%;
  height: auto;
  display: block;
}

.header-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-actions > .btn:not(:last-child) {
  margin-right: 1rem;
}

a.header-phone {
  color: var(--white-ff);
  text-decoration: none;
  font-size: 1.25rem;
  white-space: nowrap;
  margin-right: 3.5rem;
}

a.header-phone::before {
  background: var(--white-ff);
}

footer {
  background-color: var(--green-06);
  padding: 2rem 0;
  margin-top: 7.5rem;
}

footer .max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.footer-left,
.footer-right {
  flex: 1 1 100%;
}

.footer-logo {
  display: block;
  max-width: 27.5rem;
}

.footer-center {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex: 1;
  justify-content: flex-end;
}

.footer-nav {
  display: flex;
  gap: 1.75rem;
}

.footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  padding: 0;
  margin: 0;
}

.footer-nav-column li {
  width: fit-content;
}

.footer-nav-link {
  color: var(--white-ff);
  text-decoration: none;
  font-size: 1.25rem;
  white-space: nowrap;
  line-height: 1.25;
}

.footer-nav-link::before {
  background: var(--white-ff);
}

.footer-right {
  display: flex;
  justify-content: flex-end;
}

footer .btn--text {
  max-width: 20.375rem;
}

.top-slider__slide img {
  display: block;
  width: 100%;
}

.product-card {
  display: flex;
  flex-direction: column;
  background-color: var(--white-ff);
  border: 1px solid var(--black-33-t3);
  border-radius: 0.75rem;
  overflow: hidden;
  text-decoration: none;
  color: var(--black-00);
  width: 100%;
}

.product-card:hover .product-card__image img {
  transform: scale(1.05);
}

.product-card__image {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
}

.product-card__image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.2s ease;
}

.product-card__info {
  background-color: var(--white-ff);
  padding: 1.25rem 1rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.product-card__title {
  margin: 0;
  font-size: 1.875rem;
  line-height: 1.25;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-card__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.3125rem;
}

.product-card__price,
.product-card__weight {
  font-size: 1.375rem;
}

.product-card__btn {
  margin-top: 2.125rem;
}

.product-slider__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-slider__title {
  font-size: 2.25rem;
  line-height: 1.25;
}

.product-slider__controls {
  display: flex;
  gap: 0.75rem;
}

.product-slider__btn--next svg {
  transform: rotate(180deg);
}

.product-slider {
  margin-top: 0.75rem;
}

.product-slider .swiper-slide {
  display: flex;
  height: auto;
}
