.about-page {
    margin-top: 2.125rem;
}

.about-text {
    font-size: 1.5rem;
    line-height: 1.2;
}

.about-main {
    margin-top: 5.75rem;
}

.about-heading {
    margin: 4.8125rem 0;
    font-size: 2.25rem;
}