.cart-section {
    margin-top: 2rem;
}

.cart-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-top: 1.375rem;
    position: relative;
}

.cart-block__inner,
.personal-data__inner {
    width: 65.7%;
}

.cart-block,
.personal-data-block {
    opacity: 1;
    pointer-events: all;
    transition: opacity 0.2s ease-out;
}

.cart-block--hidden,
.personal-data-block--hidden {
    opacity: 0;
    pointer-events: none;
}

.cart-items {
    display: grid;
    gap: 1.25rem;
}

.cart-item {
    display: grid;
    grid-template-columns: 5.875rem 1fr;
    gap: 1.5rem;
    align-items: center;
}

.cart-item__image {
    width: 5.875rem;
    height: 6.25rem;
    overflow: hidden;
}

.cart-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cart-item__name {
    font-size: 1.125rem;
    color: var(--black-00);
    margin: 0;
    line-height: 1.25;
}

.cart-item__price {
    margin-top: 0.625rem;
    font-size: 1rem;
    color: var(--black-00);
}

.cart-promo {
    margin-top: 9.6875rem;
}

.cart-promo__btn {
    margin-top: 3.5rem;
    max-width: 20.3125rem;
}

.cart-total {
    margin-top: 2.5rem;
}

.cart-total__discount-price {
    margin-bottom: 1.5625rem;
}

.cart-total__label,
.cart-total__amount,
.cart-total__discount-title,
.cart-total__discount-price {
    font-size: 1.5rem;
    color: var(--black-00);
}

.cart-success {
    font-size: 5.625rem;
    line-height: 1.25;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    justify-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-out;
}

.cart-success p {
    max-width: 67.5rem;
    color: var(--green-06);
}

.cart-success--active {
    opacity: 1;
    pointer-events: all;
}

.personal-data-block__title {
    font-size: 2.25rem;
    color: var(--black-00);
    margin: 0;
    line-height: 1.25;
}

.personal-data-form {
    display: grid;
    gap: 1rem;
    margin-top: 1.375rem;
}

.address-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.delivery-time {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;
    margin-top: 2.5rem;
}

.delivery-time__inputs {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 1.25rem;
    align-items: center;
}

.delivery-time__input {
    width: 6rem;
}

.delivery-time__checkbox {
    font-size: 1.25rem;
    justify-self: start;
}

.payment-methods {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.875rem;
    margin-top: 3.5rem;
}

.payment__label {
    margin: 0;
    font-size: 1.25rem;
}

.payment-methods__options {
    display: grid;
    gap: 1rem;
}

.payment-option {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.75rem;
    align-items: center;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--black-00);
}

.personal-data-form__submit {
    margin-top: 3.75rem;
}

.cart-product-slider {
    margin-top: 5.9375rem;
}