#map {
    width: 100%;
    height: 36.125rem;
    margin-top: 3.5rem;
}

.ymaps-2-1-79-map-copyrights-promo,
.ymaps-2-1-79-copyright__wrap {
    display: none;
}

.contacts-page {
    margin-top: 2.375rem;
}

.contacts-title {
    margin: 0;
}

.contacts-info {
    display: grid;
    gap: 1rem 2.5rem;
    grid-template-areas: 'phone address'
        'email email';
    width: fit-content;
    margin-top: 1.5rem;
}

.contacts-info__item {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5rem;
    font-size: 1.375rem;
    line-height: 1.2;
}

.contacts-info__label {
    color: var(--black-33-t5);
}

.contacts-info__value {
    color: var(--black-00);
}